In [1]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/OzvzVqK4pgg4x7qEadoZMRyVR/insurance.csv")

In [2]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Create another feature based called BMI_group which groups people based on their BMI. The groups should be as follows:

    Underweight: BMI is less than 18.5.
    Normal: BMI is 18.5 to 24.9.
    Overweight: BMI is 25 to 29.9.
    Obese: BMI is 30 or more.

The grouping is based on WHO standards.

The output should have first five rows of the resulting dataframe.

In [5]:
def feature(x):
    if x < 18.5:
        return 'Underweight'
    elif 18.5<=x<=24.9:
        return 'Normal'
    elif 25 <= x <= 29.9:
        return 'Overweight'
    elif x >= 30:
        return 'Obese'

In [7]:
df['BMI_group'] = df['bmi'].apply(feature)

In [9]:
print(df.head())

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

Encode all categorical features such that they can be used in a regression model.
i.e.
sex, BMI_group, smoker and region should be labelled properly.

Note: Use the label encoder for all features. You can read more about it here.

The output should have first five rows of the resulting dataframe.

In [10]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns', 500)
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/831JKKEkW7kqd5M4evNva9LyB/insurance_grouped.csv")
le = LabelEncoder()#use this encoder to encode values

In [11]:
df.head()

   age     sex     bmi  children smoker     region      charges   BMI_group
0   19  female  27.900         0    yes  southwest  16884.92400  Overweight
1   18    male  33.770         1     no  southeast   1725.55230       Obese
2   28    male  33.000         3     no  southeast   4449.46200       Obese
3   33    male  22.705         0     no  northwest  21984.47061      Normal
4   32    male  28.880         0     no  northwest   3866.85520  Overweight

In [15]:
df['smoker'] = le.fit_transform(df['smoker'])

In [16]:
df.head()

   age     sex     bmi  children  smoker     region      charges   BMI_group
0   19  female  27.900         0       1  southwest  16884.92400  Overweight
1   18    male  33.770         1       0  southeast   1725.55230       Obese
2   28    male  33.000         3       0  southeast   4449.46200       Obese
3   33    male  22.705         0       0  northwest  21984.47061      Normal
4   32    male  28.880         0       0  northwest   3866.85520  Overweight

In [18]:
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])
df['BMI_group'] = le.fit_transform(df['BMI_group'].astype(str))

In [26]:
df['sex'] = le.fit_transform(df['sex'])

In [24]:
df.dtypes

age            int64
sex           object
bmi          float64
children       int64
smoker         int64
region         int64
charges      float64
BMI_group      int64
dtype: object

In [25]:
df.head()

   age     sex     bmi  children  smoker  region      charges  BMI_group
0   19  female  27.900         0       1       3  16884.92400          2
1   18    male  33.770         1       0       2   1725.55230          1
2   28    male  33.000         3       0       2   4449.46200          1
3   33    male  22.705         0       0       1  21984.47061          0
4   32    male  28.880         0       0       1   3866.85520          2

As everyone knows, smoking is a major cause of bad health. Here, try to find if smoking is affecting health of people.
Print the correlation value of "smoker" columns with "bmi", "age"  and "charges" columns in three lines respectively.

Note: You should round off all three values till four decimal places using the round() function.

In [67]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/B5yO4wkEbQk4dVGn8140yV1bx/insurance_encoded.csv")
df.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,charges,BMI_group
0,0,19,0,27.900,0,1,3,16884.92400,3
1,1,18,1,33.770,1,0,2,1725.55230,2
2,2,28,1,33.000,3,0,2,4449.46200,2
3,3,33,1,22.705,0,0,1,21984.47061,1
4,4,32,1,28.880,0,0,1,3866.85520,3

In [69]:
# df.corrwith(df[["bmi", "age", "charges"]], axis=1) 
# df[df[["bmi", "age", "charges"]]].corr()['smoker'][:]
# df[df["bmi", "age", "charges"]].corr()['smoker'][:-1]
df1 = df.corr()[["bmi", "age", "charges"]]
print(round(df1['bmi']['smoker'], 4))
print(round(df1['age']['smoker'], 4))
print(round(df1['charges']['smoker'], 4))
# import numpy as np
# np.corrcoef(df['smoker'], df[["bmi", "age", "charges"]])

0.0038
-0.025
0.7873

In [1]:
import numpy as np
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/72Boxj99702g8BwK5powGz1g0/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/gxVjwe1k3YEogYK23O8PPnXod/insurance_test.csv")

train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130

In [2]:
test.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region  BMI_group
0         764   45    0  25.175         2       0       0          3
1         887   36    0  30.020         0       0       1          2
2         890   64    0  26.885         0       1       1          3
3        1293   46    1  25.745         3       0       1          3
4         259   19    1  31.920         0       1       1          2

In [3]:
import statsmodels.api as sm

In [19]:
# Add a constant to get an intercept
train_sm = sm.add_constant(train['smoker'])

# Fit the resgression line using 'OLS'
lr = sm.OLS(train['charges'], train_sm).fit()

/home/priti/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [20]:
lr.params

const      8578.322548
smoker    23188.685871
dtype: float64

In [21]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.608
Model:                            OLS   Adj. R-squared:                  0.608
Method:                 Least Squares   F-statistic:                     1660.
Date:                Tue, 09 Jun 2020   Prob (F-statistic):          1.04e-219
Time:                        23:06:40   Log-Likelihood:                -11068.
No. Observations:                1070   AIC:                         2.214e+04
Df Residuals:                    1068   BIC:                         2.215e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8578.3225    258.076     33.240      0.000    8071.929    9084.716
smoker      2.319e+04    569.152     40.743      0.000    2.21e+04    2.43e+04
==============================================================================
Omnibus:                      104.764   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              156.078
Skew:                           0.719   Prob(JB):                     1.28e-34
Kurtosis:                       4.198   Cond. No.                         2.60
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
train_pred = lr.predict(train_sm)
res = (train - train_pred)

In [23]:
# Add a constant to X_test
X_test_sm = sm.add_constant(test['smoker'])

# Predict the y values corresponding to X_test_sm
y_pred = lr.predict(X_test_sm)

In [24]:
y_pred.head()

0     8578.322548
1     8578.322548
2    31767.008419
3     8578.322548
4    31767.008419
dtype: float64

In [39]:
import numpy as np
import pandas as pd

# Read training data
train = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/QNdMORzykKkG4L3WQ17Xx53o3/insurance_training.csv")

# Read test data
test = pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/Mq5p8YpQoz3KbWJRE4Mey1Yoq/insurance_test.csv")

In [40]:
train.head()

,Unnamed: 0,age,sex,bmi,children,smoker,region,BMI_group,charges
0,560,46,0,19.95,2,0,1,1,9193.83850
1,1285,47,0,24.32,0,0,0,1,8534.67180
2,1142,52,0,24.86,0,0,2,1,27117.99378
3,969,39,0,34.32,5,0,2,2,8596.82780
4,486,54,0,21.47,3,0,1,1,12475.35130

In [41]:
test.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region  BMI_group
0         764   45    0  25.175         2       0       0          3
1         887   36    0  30.020         0       0       1          2
2         890   64    0  26.885         0       1       1          3
3        1293   46    1  25.745         3       0       1          3
4         259   19    1  31.920         0       1       1          2

In [42]:
train_sm = sm.add_constant(train['smoker'])
lr = sm.OLS(train['charges'], train_sm).fit()
X_test_sm = sm.add_constant(test['smoker'])
y_test_pred = lr.predict(X_test_sm)
test['charges_predictions'] = y_test_pred
X_test_sm = sm.add_constant(test['charges_predictions'])
y_test_pred = lr.predict(X_test_sm)

In [43]:
test['charges_predictions'] = y_test_pred
X_test_sm = sm.add_constant(test['charges_predictions'])
y_test_pred = lr.predict(X_test_sm)

In [47]:
# X_test_sm = sm.add_constant(test['smoker'])
X_test_sm = sm.add_constant(test['charges_predictions'])
y_test_pred = lr.predict(X_test_sm)

In [48]:
# lr = sm.OLS(test['charges_predictions'], X_test_sm).fit()
y_test_pred

0      1.989286e+08
1      1.989286e+08
2      7.366438e+08
3      1.989286e+08
4      7.366438e+08
           ...
263    7.366438e+08
264    1.989286e+08
265    1.989286e+08
266    7.366438e+08
267    1.989286e+08
Length: 268, dtype: float64

In [46]:
print(lr.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     charges_predictions   R-squared:                       1.000
Model:                             OLS   Adj. R-squared:                  1.000
Method:                  Least Squares   F-statistic:                 2.157e+33
Date:                 Tue, 09 Jun 2020   Prob (F-statistic):               0.00
Time:                         23:29:11   Log-Likelihood:                 6707.6
No. Observations:                  268   AIC:                        -1.341e+04
Df Residuals:                      266   BIC:                        -1.340e+04
Df Model:                            1
Covariance Type:             nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       8578.3225   2.24e-13   3.83e+16      0.000    8578.323    8578.323
smoker      2.319e+04   4.99e-13   4.64e+16      0.000    2.32e+04    2.32e+04
==============================================================================
Omnibus:                       60.616   Durbin-Watson:                   1.481
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               99.468
Skew:                          -1.488   Prob(JB):                     2.52e-22
Kurtosis:                       3.215   Cond. No.                         2.61
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.